<nav class="navbar">

    <div class="container-fluid text-center">

        <div class="col">
            <button class="btn btn-primary" type="button" id="home-button">
                <i class="fa-solid fa-house" style="color: #ffffff;"></i>
            </button>

            <button class="btn btn-primary mx-3" type="button" id="trending-button">
                <i class="fa-solid fa-rocket" style="color: #ffffff;"></i>
            </button>

            <button class="btn btn-primary" type="button" id="privatemsg-button">
                <i class="fa-solid fa-comment" style="color: #ffffff;"></i>
            </button>

        </div>

        <div class="col-6">
            <a class="navbar-brand">Microblog</a>
        </div>

        <div class="col">

            <div class="input-group px-4 py-2">
                <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar" aria-describedby="button-addon2">
                <button class="btn btn-primary" type="button" id="search-button">
                    <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
                </button>
            </div>
        </div>

    </div>
  
  </nav>