<nav class="navbar">

    <div class="container-fluid text-center">

        <div class="col">
            <div class="dropdown" *ngIf=" token !== null">
                <button class="btn btn-primary" type="button" id="home-button" (click)="tablon()">
                    <i class="fa-solid fa-house" style="color: #ffffff;"></i>
                </button>

                <button class="btn btn-primary" (click)="mensajePriv()" type="button" id="privatemsg-button">
                    <i class="fa-solid fa-comment" style="color: #ffffff;"></i>
                </button>

                <button (click)="salir()">Salir</button>
            
            </div>

            <button class="btn btn-primary mx-3" type="button" id="trending-button" (click)="trending()">
                <i class="fa-solid fa-rocket" style="color: #ffffff;"></i>
            </button>


        </div>

        <div class="col-6">
            <a class="navbar-brand">Microblog</a>
        </div>

        <form [formGroup]="buscarForm">
            <div class="col">
                <div class="input-group px-4 py-2">
                    <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar" aria-describedby="button-addon2" formControlName="alias">
                    <button class="btn btn-primary" 
                        type="button" 
                        id="search-button" 
                        data-bs-toggle="modal" 
                        data-bs-target="#ModalFiltros" 
                        (click)="submitBuscar()">
                        <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
                    </button>
                </div>
            </div>
        </form>

    </div>

</nav>

<div class="modal fade" id="ModalFiltros" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width: 100%;">
    <div class="modal-dialog" style="width: 100% ; max-width: 50%; min-width: 400px;">
        <div class="modal-content" style="width: 100% ;">
            <div class="modal-header">
                <h1>Usuarios Encontrados</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div  *ngFor="let usuario of arrayUsuarios">
                <li>{{usuario["alias"]}}</li>
            </div>
    
            <br>
        </div>
    </div>
</div>  
