
<section style="background-color: #eee;">
    <div class="container py-5">
  
      <div class="row">
  
        <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0" >
  
          <h5 class="font-weight-bold mb-3 text-center text-lg-start">Contactos</h5>
  
          <div class="card" style="border-radius: 30px;">
            <div class="card-body" style="max-height: 70vh; overflow-y: scroll;">
  
              <ul class="list-unstyled mb-0">

<!--  -->
<li class="p-2 my-1 border-bottom">
    <a href="#!" class="d-flex justify-content-between">
      <div class="d-flex flex-row">
        <img src="https://static.wikia.nocookie.net/kickbuttowski/images/3/3d/Gunther.png" alt="avatar"
          class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
        <div class="pt-1">
          <p class="fw-bold mb-0">Gunther</p>
        </div>
      </div>
      <div class="pt-1">
        <p class="small text-muted mb-1">Just now</p>
        <span class="badge bg-danger float-end">1</span>
      </div>
    </a>
  </li>
  <li class="p-2 my-1 border-bottom">
    <a href="#!" class="d-flex justify-content-between">
      <div class="d-flex flex-row">
        <img src="https://static.wikia.nocookie.net/kickbuttowski/images/3/3d/Gunther.png" alt="avatar"
          class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
        <div class="pt-1">
          <p class="fw-bold mb-0">Gunther</p>
        </div>
      </div>
      <div class="pt-1">
        <p class="small text-muted mb-1">Just now</p>
        <span class="badge bg-danger float-end">1</span>
      </div>
    </a>
  </li>
  <li class="p-2 my-1 border-bottom">
    <a href="#!" class="d-flex justify-content-between">
      <div class="d-flex flex-row">
        <img src="https://static.wikia.nocookie.net/kickbuttowski/images/3/3d/Gunther.png" alt="avatar"
          class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
        <div class="pt-1">
          <p class="fw-bold mb-0">Gunther</p>
        </div>
      </div>
      <div class="pt-1">
        <p class="small text-muted mb-1">Just now</p>
        <span class="badge bg-danger float-end">1</span>
      </div>
    </a>
  </li>
  <li class="p-2 my-1 border-bottom">
    <a href="#!" class="d-flex justify-content-between">
      <div class="d-flex flex-row">
        <img src="https://static.wikia.nocookie.net/kickbuttowski/images/3/3d/Gunther.png" alt="avatar"
          class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
        <div class="pt-1">
          <p class="fw-bold mb-0">Gunther</p>
        </div>
      </div>
      <div class="pt-1">
        <p class="small text-muted mb-1">Just now</p>
        <span class="badge bg-danger float-end">1</span>
      </div>
    </a>
  </li>
  <li class="p-2 my-1 border-bottom">
    <a href="#!" class="d-flex justify-content-between">
      <div class="d-flex flex-row">
        <img src="https://static.wikia.nocookie.net/kickbuttowski/images/3/3d/Gunther.png" alt="avatar"
          class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
        <div class="pt-1">
          <p class="fw-bold mb-0">Gunther</p>
        </div>
      </div>
      <div class="pt-1">
        <p class="small text-muted mb-1">Just now</p>
        <span class="badge bg-danger float-end">1</span>
      </div>
    </a>
  </li>
  <li class="p-2 my-1 border-bottom">
    <a href="#!" class="d-flex justify-content-between">
      <div class="d-flex flex-row">
        <img src="https://static.wikia.nocookie.net/kickbuttowski/images/3/3d/Gunther.png" alt="avatar"
          class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
        <div class="pt-1">
          <p class="fw-bold mb-0">Gunther</p>
        </div>
      </div>
      <div class="pt-1">
        <p class="small text-muted mb-1">Just now</p>
        <span class="badge bg-danger float-end">1</span>
      </div>
    </a>
  </li>
  <li class="p-2 my-1 border-bottom">
    <a href="#!" class="d-flex justify-content-between">
      <div class="d-flex flex-row">
        <img src="https://static.wikia.nocookie.net/kickbuttowski/images/3/3d/Gunther.png" alt="avatar"
          class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
        <div class="pt-1">
          <p class="fw-bold mb-0">Gunther</p>
        </div>
      </div>
      <div class="pt-1">
        <p class="small text-muted mb-1">Just now</p>
        <span class="badge bg-danger float-end">1</span>
      </div>
    </a>
  </li>
<!--  -->

                <li class="p-2 my-1 border-bottom">
                  <a href="#!" class="d-flex justify-content-between">
                    <div class="d-flex flex-row">
                      <img src="https://static.wikia.nocookie.net/kickbuttowski/images/3/3d/Gunther.png" alt="avatar"
                        class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
                      <div class="pt-1">
                        <p class="fw-bold mb-0">Gunther</p>
                      </div>
                    </div>
                    <div class="pt-1">
                      <p class="small text-muted mb-1">Just now</p>
                      <span class="badge bg-danger float-end">1</span>
                    </div>
                  </a>
                </li>
                <li class="p-2 my-1 border-bottom">
                  <a href="#!" class="d-flex justify-content-between">
                    <div class="d-flex flex-row">
                      <img src="https://e7.pngegg.com/pngimages/597/556/png-clipart-kendall-perkins-kick-buttowski-face-drawing-face.png" alt="avatar"
                        class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
                      <div class="pt-1">
                        <p class="fw-bold mb-0">Kendall P</p>
                        
                      </div>
                    </div>
                    <div class="pt-1">
                      <p class="small text-muted mb-1">5 mins ago</p>
                    </div>
                  </a>
                </li>
                <li class="p-2 my-1 border-bottom">
                  <a href="#!" class="d-flex justify-content-between">
                    <div class="d-flex flex-row">
                      <img src="https://static.wikia.nocookie.net/kickbuttowski/images/f/fa/Brad_find_it.png" alt="avatar"
                        class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
                      <div class="pt-1">
                        <p class="fw-bold mb-0">Brad</p>
                        
                      </div>
                    </div>
                    <div class="pt-1">
                      <p class="small text-muted mb-1">Yesterday</p>
                    </div>
                  </a>
                </li>
                <li class="p-2 mt-1" style="background-color: #eee; border-radius: 15px;">
                  <a href="#!" class="d-flex justify-content-between" >
                    <div class="d-flex flex-row" >
                      <img src="https://static.wikia.nocookie.net/kickbuttowski/images/0/00/Billy_Stumps.jpg" alt="avatar"
                        class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
                      <div class="pt-1">
                        <p class="fw-bold mb-0">Billy Stumps</p>
                        
                      </div>
                    </div>
                    <div class="pt-1">
                      <p class="small text-muted mb-1">5 mins ago</p>
                    </div>
                  </a>
                </li>
              </ul>
  
            </div>
          </div>
  
        </div>
  
        <div class="col-md-6 col-lg-7 col-xl-8">
  
          <ul class="list-unstyled" style="max-height: 57.5vh; overflow-y: scroll;">
            <!--  -->

            <li class="d-flex justify-content-between mb-4">
                <img src="https://static.wikia.nocookie.net/kickbuttowski/images/0/00/Billy_Stumps.jpg" alt="avatar"
                  class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60">
                <div class="card" style="border-radius: 30px;">
                  <div class="card-header d-flex justify-content-between p-3" style="background-color: #0061b5; border-top-right-radius: 30px;">
                    <p class="fw-bold mb-0">Billy Stumps</p>
                    <p class="text small mb-0" style="color: white;"><i class="far fa-clock"></i> 12 mins ago</p>
                  </div>
                  <div class="card-body">
                    <p class="mb-0">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua.
                    </p>
                  </div>
                </div>
              </li>
              <li class="d-flex justify-content-between mb-4">
                <div class="card w-100" style="border-radius: 30px;">
                  <div class="card-header d-flex justify-content-between p-3" style="background-color: #0d6efd; border-top-left-radius: 30px;">
                    <p class="fw-bold mb-0">Kick Buttowski</p>
                    <p class="text small mb-0" style="color: white;"><i class="far fa-clock"></i> 13 mins ago</p>
                  </div>
                  <div class="card-body">
                    <p class="mb-0">
                      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                      laudantium.
                    </p>
                  </div>
                </div>
                <img src="https://www.pngkey.com/png/full/149-1496931_kick-buttowski.png" alt="avatar"
                  class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" width="60">
              </li>
              <li class="d-flex justify-content-between mb-4">
                <img src="https://static.wikia.nocookie.net/kickbuttowski/images/0/00/Billy_Stumps.jpg" alt="avatar"
                  class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60">
                <div class="card" style="border-radius: 30px;">
                  <div class="card-header d-flex justify-content-between p-3" style="background-color: #0061b5; border-top-right-radius: 30px;">
                    <p class="fw-bold mb-0">Billy Stumps</p>
                    <p class="text¿ small mb-0" style="color: white;"><i class="far fa-clock"></i> 10 mins ago</p>
                  </div>
                  <div class="card-body">
                    <p class="mb-0">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua.
                    </p>
                  </div>
                </div>
              </li>

            <!--  -->
            <li class="d-flex justify-content-between mb-4">
              <img src="https://static.wikia.nocookie.net/kickbuttowski/images/0/00/Billy_Stumps.jpg" alt="avatar"
                class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60">
              <div class="card" style="border-radius: 30px;">
                <div class="card-header d-flex justify-content-between p-3" style="background-color: #0061b5; border-top-right-radius: 30px;">
                  <p class="fw-bold mb-0">Billy Stumps</p>
                  <p class="text small mb-0" style="color: white;"><i class="far fa-clock"></i> 12 mins ago</p>
                </div>
                <div class="card-body">
                  <p class="mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.
                  </p>
                </div>
              </div>
            </li>
            <li class="d-flex justify-content-between mb-4">
              <div class="card w-100" style="border-radius: 30px;">
                <div class="card-header d-flex justify-content-between p-3" style="background-color: #0d6efd; border-top-left-radius: 30px;">
                  <p class="fw-bold mb-0">Kick Buttowski</p>
                  <p class="text small mb-0" style="color: white;"><i class="far fa-clock"></i> 13 mins ago</p>
                </div>
                <div class="card-body">
                  <p class="mb-0">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                    laudantium.
                  </p>
                </div>
              </div>
              <img src="https://www.pngkey.com/png/full/149-1496931_kick-buttowski.png" alt="avatar"
                class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" width="60">
            </li>
            <li class="d-flex justify-content-between mb-4">
              <img src="https://static.wikia.nocookie.net/kickbuttowski/images/0/00/Billy_Stumps.jpg" alt="avatar"
                class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60">
              <div class="card" style="border-radius: 30px;">
                <div class="card-header d-flex justify-content-between p-3" style="background-color: #0061b5; border-top-right-radius: 30px;">
                  <p class="fw-bold mb-0">Billy Stumps</p>
                  <p class="text¿ small mb-0" style="color: white;"><i class="far fa-clock"></i> 10 mins ago</p>
                </div>
                <div class="card-body">
                  <p class="mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.
                  </p>
                </div>
              </div>
            </li>
          </ul>
          <div class="form-outline" >
            <textarea class="form-control p-3" id="textAreaExample2" rows="4" placeholder="Mensaje" style="border-radius: 30px"></textarea>

          </div>
          <button type="button" class="btn btn-primary btn-rounded float-end mt-1">Send</button>
  
        </div>
  
      </div>
  
    </div>
  </section>