
    <div class="row" style="height: 100%; background-color:#313642;">
        <div class="col">
        </div>
        <div class="col-9">

            <app-mensaje-input></app-mensaje-input>
            <!-- !Cartelito de log -->
            <!-- <app-bienvenida></app-bienvenida> -->
            
            <hr class="hr" style="border-top: 1px solid rgb(255, 255, 255);" />

            <div  *ngFor="let mensaje of arrayMensajes">
                <app-mensaje [mensaje] = "mensaje"></app-mensaje>
            </div>

        </div>
        <div class="col">
        </div>
    </div>